@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave&display=swap');


h1.ghostI {
    font-style: italic;
    color: ghostwhite;
    margin: 0px;
    font-family: 'Sedgwick Ave', cursive;
}

#ghoulA {
    background-color: orangered;
    padding: 1em;
    margin: 5em 0;
}

p.ghostT {
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li {
    display: inline-block;
}

    /*nav ul li a {
        padding: .2em 7em;
        display: block;
    }*/

nav li:hover {
    background-color: chocolate;
}

.align-center {
    text-align: center;
}

.Cborder {
    border-style: double none;
    display: inline-block;
    font-weight: bold;
    color: orangered;
    background-image: url(../Images/Grainy_Background.jpg);
    background-repeat: no-repeat;
}

p.Cborder a:hover {
    background-color: darkgrey;
}

nav ul li a {
    color: #31B9B6;
    padding: .2em 3.5em;
    display: block;
}

.fab {
    background-color: ghostwhite;
    float: right;
    border-right: solid;
    padding: .5em;
}

    .fab:hover {
        background-color: dodgerblue;
    }

#headerOverlay {
    background-image: url(../Images/Logo2.jpg);
    background-repeat: no-repeat;
    background-size: 298px;
    padding: 10em;
}



h1.ghostF {
    font-style: italic;
    color: #31B9B6;
    font-family: 'Sedgwick Ave', cursive;
}

h3.ghostF {
    font-style: italic;
    color: orangered;
    font-family: 'Sedgwick Ave', cursive;
    text-decoration:underline;
}

#Motion {
    margin: -10em 0 0 20em;
}

#Cgallery {
    text-align: center;
}

div.CItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.CItem:hover {
        border: 1px solid darkgrey;
    }

    div.CItem img {
        width: 100%;
        height: auto;
    }

    div.CItem a:hover {
        background-color: darkgrey;
    }


.Dtext {
    color: orangered;
    font-family: "Sedgwick Ave", cursive;
}

.bodyEdge {
    margin: .1px;
    background-image: url(../Images/Grainy_Background.jpg);
}

.pageSize {
    width: 400px;
    margin: auto;
    min-height: 755px;
}

.teamMember {
    border-radius: 50px;
    float: left;
    max-width: 250px;
    margin: 0 35px 30px 0;
}

.clear {
    clear: left;
}

.name {
    padding-top: 50px;
    font-size: 28px;
    font-weight: bold;
}

.departmentFloat {
    width: 260px;
    float: right;
    background-color: darkgray;
    height: 101em;
}

.setIn {
    max-width: 900px;
    margin: 15px auto;
}

.design {
    width: 100%;
    max-width: 600px;
    border-right: 1px solid #EEE;
    padding-left: 30px;
    text-align: center;
    background-color: darkgray;
    height: 101em;
}

.roles {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.rolesD {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid black;
}

.tableC {
    width: 50%;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
}

.tableA {
    background-color: #31B9B6;
}

.floatR {
    
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin: 10em;
    
}

.floatL {
    float: left;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    /*margin: 5em 10em 5em 0;*/
}

.floatC {
    font-style: italic;
    color: ghostwhite;
    /*margin: 0px;*/
    font-family: 'Sedgwick Ave', cursive;
    text-align: center;
    text-decoration: underline;
}

.floatI{
    float:right;
    width: 30%;
}.floatIL{
    float:left;
    width: 30%;
}

.active {
    background: ghostwhite;
}



.navBord{
    border:solid;
    text-align:center;
}

#btm {
    margin-bottom: 15em;
}