 h1.ghostI {
     font-style:italic;
     color: ghostwhite;
     background-color:black;
     margin: 0px;
 }

 h1.ghostB {
     font-weight: bold;
     color: orangered;
     background-color: black;
 }

 #ghoulA {
     background-color: orangered;
 }
 
 p.ghostT {
     color: orangered;
     background-color: black; 
     margin: 0px;
 }

 nav ul li {
     display: inline-block;
 }

 nav ul li a {
     padding: .2em 7em;
     display: block;
 }

 nav li:hover {
     background-color: darkgrey;
 }

 .align-center {
     text-align: center;
     background-color: black;
 }

 .Cborder {
   border-style: double none;
   display: inline-block;
   font-weight: bold;
   color: orangered;
   background-color: black;
 }

 .Mborder {
     border-style:solid;
     background-color: black;
 }

 p.Cborder a:hover {
     background-color: darkgrey;
 }

 nav ul li a {
     color: teal;
 }

